/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  padding: 0 100px 0 100px;
  font-family: 'Open-Sans', sans-serif;
  font-size: 12px;
     line-height: 1.4;
}
/*ND: Got some weird spacing here. Why is line-height indented so much?*/

header {
     color: #000;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size: cover;
}
/*ND: Again, be mindful of indentation with background-size. Run you code through a formatter
to check for this*/
h1 {
  font-weight: 800;
  font-size: 24px;
  color: white;
  padding: 50px 0 50px 100px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 0 0 100px 0;
}

h3 {
  margin: 0 45%;
  font-family: 800px;
  font-size: 18px;
  color: #033048;
  border-radius: 5px;
  background-color: #f9e42e;
  text-align: center;

}

#benefit_section {
  background-color: #f0efef;

}

.benefits {
  color: #033048;
  text-align: left;
  padding: 50px 0 0 100px;
}

.description {
  font-size: 13px;
  font-weight: 300;
  padding: 0 500px 0 120px;
  color: #606161;
}

ul {
  padding: 0 0 50px 130px;
  color: #606161;

}

aside {
  background: url(../images/testimonial_bg.jpg);
  background-size: cover;
  padding: 100px 100px;
}

aside p {
  color: #f0efef;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  padding: 0 200px;
}

.name {
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  color: #f0efef;
}

section {
  background-color: #f9e42e;
  padding: 50px;
}
.signup {
  margin: 50px 45%;
  text-align: center;
  font-weight: 800;
  color: white;
  border-radius: 5px;
  background-color: #033048;
}

footer {
  background-color: #121212;
  text-align: center;
}


nav {
  text-align: center;
}

.coopyright {
  color: white;
  font-size: 9px;
  font-weight: 600;
}
/*ND: You spelled copyright wrong here so it looks like these styles didn't render.*/


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header {
  width: 100%;
  margin: auto;
  height: 500px;
}

footer {
  width: 100%;
  margin: auto;
  height: 300px;
}

/*ND: Play around some with the margin and padding between your icons--they look a little too cramped
next to each other*/

/*ND: I notice you don't have multiple columns. Did you have trouble with floats/width? Let me know*/
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
