/*
 * Hi Taylor!
 * I will be writing feedback on your assignment in CSS comments like this one.
 *
 * Overall your CSS code is very nicely formatted and super easy to follow.
 */

/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */  /* <-- Nice find! */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */  /* <-- Nice find! */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Open-Sans', sans-serif;
  font-size: 12px;
     line-height: 1.4;
     background-color: #f0efef
}

#page-header {
     color: #000;
     background: #033048;
     /* 
      The background-size property really only applies when you have a background image.  It does 
      not do anything when your background is simply a color.  You can remove this rule.
     */
      background-size: cover;
      padding: 0 3%;
}

h1 {
  font-weight: 800;
  font-size: 2em;
  color: white;
  display: inline-block;
}

h1.header {
  padding: 35px 0 50px 50px;
}

#page-header nav {
  color: #f9e42e;
  padding-bottom: 40px;
  float: right;
  font-size: 2em;
  font-weight: 600;
}

#page-header nav li a:hover {
  color: white;
}

/* 
  The links in the header are underlined on your page, but they are not in the design file. 
  Think about what property you could use to remove the underline from the links in your CSS.
*/
#page-header nav li a {
  color: #f9e42e;
}

#page-header nav li {
  display: inline;
  padding: 35px 20px 0 20px;
  float: left;
  color: #f9e42e;
}

article {
  width: 700px;
  padding: 30px 0 60px 90px;
  display: inline-block;
}

img {
  padding-bottom: 20px;
}

p {
  font-weight: 300;
  font-size: 24px;
}

/*
  I like the use of the <span> with this class to style the first letter of the paragraph.  
  That is a good way to get this done; however there is actually an easier way.  CSS has a
  pseudo-selector called "::first-letter" that you can use as well.  Check out the ref here:
  
  http://www.w3schools.com/cssref/sel_firstletter.asp
*/
.firstLetter {
  float       : left;
  font-size   : 3.26em;
  line-height : 0.5;
  margin      : 0.205em 0.153em 0 0;
  font-weight: 600;
}

/* 
  Nice use of the + in your selecter - great find!
*/
.firstLetter + span { 
  margin-left : -0.5em;
}

h3 {
  font-weight: 600;
  font-size: 40px;
  color: #033048;
  padding-bottom: 20px;
}

p.read_more {
  text-align: right;
  font-weight: 600;
  padding-top: 20px;
}

#sidebar {
  color: #033048;
  padding-right: 20px
}

h4 {
  font-size: 32px;
  font-weight: 800;
  padding-top: 30px;
}

nav.sidebar_nav {
  font-size: 2em;
  font-weight: 300;
}

p.About {
  font-size: .92em;
  font-weight: 300;
}

p.learn_more {
  font-weight: 600;
  font-size: .92em;
}

h4.Ad {
  text-align: center;
  font-weight: 600;
  padding-top: 0px;
}

div.Ad {
  height: 400px;
  background-color: white;
  margin-top: 30px;
  width: 200px;
}

p.signup {
  margin: 50px 45%;
  text-align: center;
  font-weight: 800;
  color: white;
  border-radius: 5px;
  background-color: #033048;
  padding: 10px 0;
  font-size: 16px;
}

footer {
  background-color: #121212;
  text-align: center;

}

.copyright {
  color: white;
  font-size: .75em;
  font-weight: 600;
}

h1.footer {
  text-align: center;
  color: #f9e42e;
  padding: 40px 0;
}

#signup {
  background-color: #f9e42e;
  padding-top: 1px;
  padding-bottom: 1px;
}

a {
  padding: 0 20px 0 20px;
}
/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  /* 
    You can remove the height rule on your container here.  It is not really doing much here, especially since
    your container on the page is much longer than 500px.  (It is just spilling over past the 500px tall mark.)
  */
  height: 500px;

}

header {
  width: 100%;
  margin: auto;
  height: 100px;
}

footer {
  width: 100%;
  margin: auto;
  height: 300px;
}

#sidebar {
  float: right;
  width: 240px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




